footer.entry-footer
	span.category-links
		- _e( 'Categories: ', 'template' ); ?><?php the_category( ', ' );
	span.tag-links
		- the_tags();
	- if ( comments_open() ) { echo '<span class="meta-sep">|</span> <span class="comments-link"><a href="' . get_comments_link() . '">' . sprintf( __( 'Comments', 'template' ) ) . '</a></span>'; }