- global $wp_query; if ( $wp_query->max_num_pages > 1 ) {
	nav(role="navigation").navigation.below
		div.nav-previous
			- next_posts_link(sprintf( __( '%s older', 'blankslate' ), '<span class="meta-nav">&larr;</span>' ) )
		div.nav-next
			- previous_posts_link(sprintf( __( 'newer %s', 'blankslate' ), '<span class="meta-nav">&rarr;</span>' ) )
- }